<form name="createForm">
  <p ng-show="createForm.$invalid && createForm.$dirty" style="color: red">
    Tarkista, että lomakkeessa ei ole puutteita
  </p>

  <label>
    Otsikko: <input type="text" name="title" ng-model="ad.title" size="60" required
                    ng-minlength="5" />
  </label>

  <label>
    Hintapyyntö (senttiä):
    <input type="number" ng-model="ad.priceCents" required />
  </label>

  <textarea ng-model="ad.description" rows="6" cols="60"></textarea>

  <h2>Myyjän yhteystiedot</h2>

  <label>
    Sähköposti: <input type="email" ng-model="ad.email" required />
  </label>

  <label>
    Puhelinnumero: <input type="text" ng-model="ad.phone" required />
  </label>

  <div ng-show="!ad.imageUrl && !ad.thumbnailUrl">
    <button ngf-select ngf-change="upload($files)">Lisää kuva</button>
    <p ng-show="uploadProgress">
      Ladataan kuvaa ... {{uploadProgress}} %
    </p>
  </div>
  <div ng-show="ad.thumbnailUrl">
    <img src="{{ad.thumbnailUrl}}">
  </div>

  <hr>
  <input ng-disabled="createForm.$invalid" type="submit" ng-click="publish(ad)" value="Julkaise ilmoitus" />
</form>
