<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="css/reveal.min.css">
    <link rel="stylesheet" href="css/theme/gofore.css" id="theme">

    <!-- For syntax highlighting -->
    <link rel="stylesheet" href="lib/css/zenburn.css">

    <!-- If the query includes 'print-pdf', use the PDF print sheet -->
    <script>
        document.write('<link rel="stylesheet" href="css/print/' + ( window.location.search.match(/print-pdf/gi) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">');
    </script>
</head>
<body>
<div class="reveal">
    <!-- Any section element inside of this container is displayed as a slide -->
    <div class="slides">

        <section>
            <h2>Tools and Design</h2>
        </section>

        <section>
          <section>
              <h2>Tools</h2>
          </section>
          <section>
              <h2>browserify</h2>
              <ul>
                <li><code>require</code> for browser</li>
                <li>parses requires at compile time and creates a combined javascript file</li>
                <li>should work on ie7+</li>
                <li>enables to use transformations such as CoffeeScript and Babel</li>
                <li>allows to embed non-javascript files directly using plugins such as stringify and browserify-plain-jade</li>
                <li>node-type requires</li>
<pre><code>// math.js
module.exports = {
  sum: function(a, b) {
    return a + b
  }
}
</code></pre>
<pre><code>math = require('./math')

math.sum(1, 2)
</code></pre>
              </ul>
          </section>
          <section>
              <h2>npm</h2>
              <ul>
                <li>node package manager</li>
                <li>contains libraries for both front and back such as jQuery, lodash and Angular</li>
                <li>browserify automatically looks for installed npm packages when requiring</li>
              </ul>
<pre><code>npm install lodash --save-dev
</code></pre>
<pre><code>_ = require('underscore')
</code></pre>
          </section>
          <section>
              <h2>Build tools</h2>
              <ul>
                <li>gulp – a build system that allows to run browserify and other tasks</li>
                <li>browsersync – enables live reloading and synchronization between devices. Can be integrated into gulp.</li>
                <li>sass, stylus, etc – preprocessors for css. Allow using a more concise syntax and add new features</li>
                <li>jade – preprocessor for html. Allows writing html in a tree-like fashion</li>
              </ul>
          </section>
          <section>
              <h2>EcmaScript 6</h2>
              <ul>
                <li>ES6 is the next version of JavaScript</li>
                <li>partial support in modern browsers, Babel allows to use it now (ie9+)</li>
                <li>notable features
                  <ul>
                    <li>arrow function</li>
                    <li>destructuring</li>
                    <li>let, const</li>
                  </ul>
                </li>
                <li>more <a href="https://github.com/lukehoban/es6features">https://github.com/lukehoban/es6features</a></li>
              </ul>
          </section>
          <section>
              <h2>ES6 – <code>let</code>, <code>const</code></h2>
              <ul>
                <li>block scoping instead of function scoping</li>
                <li><code>let</code> is like <code>var</code>, <code>const</code> is for constants</li>
                <li><a href="https://docs.google.com/document/d/1Qk0qC4s_XNCLemj42FqfsRLp49nDQMZ1y7fwf5YjaI4/edit">Strong mode proposal</a> forbids <code>var</code> so it might be a good idea to start using <code>let</code> instead.</li>
              </ul>
<pre><code>function() {
  let x = 3
  if (true) {
    let x = 4
    console.log(x) // 4
  }
  console.log(x) // 3
}
</code></pre>
<pre><code>for (let i = 0; i < 10; i++) {
    console.log(i);
}
console.log(i); // ReferenceError: i is not defined
</code></pre>
          </section>
          <section>
              <h2>ES6 – Arrow functions</h2>
              <ul>
                <li>shorter function definition, always anonymous</li>
                <li>lexical <code>this</code>, the function retains its parent's scope. Compare to <code>let</code>.</li>
              </ul>
<pre><code>values.map(v => v + 1)

(u, v) => u * v

x => {
  console.log(x)
  return 3 * x
}

y => ({
  value: y,
  other: 3
})

() => console.log('bar')
</code></pre>
          </section>
          <section>
              <h2>ES6 – native modules</h2>
              <ul>
                <li>works with browserify and babel</li>
              </ul>
<pre><code>// math.js
export function sum(x, y) {
  return x + y
}
</code></pre>
<pre><code>import {sum} from './math'

console.log(sum(2,3))
</code></pre>
          </section>
          <section>
            <h2>Other tools</h2>
            <ul>
              <li>bower – Frontend package manager. No good way to fix version numbers, seems to break arbitrarily at some point. Use npm instead.</li>
              <li>webpack – combines require, transformations and build into one tool. A notable alternative to browserify and gulp.</li>
              <li>jspm, system.js – alternative package manager and require tool. See a nice <a href="https://www.youtube.com/watch?v=iukBMY4apvI">demo</a>.</li>
              <li>grunt – an older alternative to gulp. Nothing wrong in itself but very verbose configuration file. Use something else for new projects.</li>
            </ul>
          </section>
        </section>

        <section>
          <section>
              <h2>Angular – Composition through directives</h2>
          </section>
          <section>
            <ul>
              <li>Directives can be used to define custom html tags</li>
              <li>Directives may have their own controller</li>
              <li>So why not use them to create custom html components</li>
              <li>This provides full encapsulation, modularity and reusable components</li>
              <li><a href="https://github.com/gofore/angularjs-training/tree/master/examples/fullstack">Full example</a> with gulp and browserify</li>
            </ul>
          </section>
          <section>
<pre><code><participants></code></pre>
<pre><code>.directive('participants', () => ({
    restrict: 'E',
    scope: {},
    template:
      '<h1>Event Participant list</h1>
       <p>Search participants: <input type="text" ng-model="search" value=""/></p>
       <ol><li ng-repeat="participant in participants | filter:search">{{ participant.name }}</li></ol>',
    controller: ['$scope', '$filter', 'participantService', ($scope, $filter, participantService) => {
      participantService.participants.success((participants) => {
        $scope.participants = $filter('orderBy')(participants, 'name')
      })
    }]
}));</code></pre>
          </section>
          <section>
            <p>Modularizing even more with browserify and stringify</p>
<pre><code><participants></code></pre>
<pre><code>.directive('participants', require('./directives/participants'))
</code></pre>
<pre><code>module.exports = () => ({
    restrict: 'E',
    scope: {},
    template: require('../templates/participants.html'),
    controller: ['$scope', '$filter', 'participantService', ($scope, $filter, participantService) => {
      participantService.participants.success((participants) => {
        $scope.participants = $filter('orderBy')(participants, 'name')
      })
    }]
})</code></pre>
<pre><code><h1>Event Participant list</h1>
<p>Search participants: <input type="text" ng-model="search" value=""/></p>
<ol><li ng-repeat="participant in participants | filter:search">{{ participant.name }}</li></ol>
</code></pre>
          </section>
          <section>
            <p>And with jade</p>
<pre><code>participants</code></pre>
<pre><code>.directive('participants', require('./directives/participants'))
</code></pre>
<pre><code>module.exports = () => ({
    restrict: 'E',
    scope: {},
    template: require('../templates/participants.jade'),
    controller: ['$scope', '$filter', 'participantService', ($scope, $filter, participantService) => {
      participantService.participants.success((participants) => {
        $scope.participants = $filter('orderBy')(participants, 'name')
      })
    }]
})</code></pre>
<pre><code>h1 Event Participant list
p
  | Search participants:
  input(type="text" ng-model="search" value="")
ol
  li(ng-repeat="participant in participants | filter:search") {{ participant.name }}
</code></pre>
          </section>
        </section>

        <section>
          <section>
            <h2>rest api design</h2>
            <ul>
              <li>Make your api responses look like your user interface, not like your database</li>
            </ul>
          </section>
          <section>
            <h2>Angular minification</h2>
            <ul>
              <li>Angular's dependency injection works on parameter names</li>
              <li>Minification renames parameters -> DI does not work</li>
              <li>Solution: Angular allows you to pass an array together with the function <code>['$scope', function ($scope) {}]</code></li>
              <li>Angular will inject the listed objects in the order they are gicing regardless of the actual function parameter names</li>
            </ul>
          </section>
          <section>
<pre><code>function test1 () {
  return {
    controller: ['$scope', '$filter', function ($scope, $filter) {
      $scope.test = $filter
    }]
  }
}</code></pre>
<pre><code>function test1(){return{controller:["$scope","$filter",function(t,e){t.test=e}]}}</code></pre>
          </section>
        </section>

        <section>
          <section>
            <h2>Best practices</h2>
            <ul>
              <li>Use browserify, webpack, etc for modularity</li>
              <li>Use directives for composition</li>
              <li>Use nested directives</li>
              <li>Most (if not all) of your controllers should be part of a directive</li>
              <li>Move most of your business logic to services</li>
              <li>If your controller is longer than 100 lines, you are likely doing something wrong</li>
            </ul>
          </section>
        </section>

    </div>
</div>


<script src="lib/js/head.min.js"></script>
<script src="js/reveal.min.js"></script>
<script>
    // Full list of configuration options available here:
    // https://github.com/hakimel/reveal.js#configuration
    Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,

        theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
        transition: Reveal.getQueryHash().transition || 'linear', // default/cube/page/concave/zoom/linear/fade/none

        // Optional libraries used to extend on reveal.js
        dependencies: [
            {
                src: 'lib/js/classList.js', condition: function () {
                return !document.body.classList;
            }
            },
            {
                src: 'plugin/markdown/marked.js', condition: function () {
                return !!document.querySelector('[data-markdown]');
            }
            },
            {
                src: 'plugin/markdown/markdown.js', condition: function () {
                return !!document.querySelector('[data-markdown]');
            }
            },
            {
                src: 'plugin/highlight/highlight.js', async: true, callback: function () {
                hljs.initHighlightingOnLoad();
            }
            },
            {
                src: 'plugin/zoom-js/zoom.js', async: true, condition: function () {
                return !!document.body.classList;
            }
            },
            {
                src: 'plugin/notes/notes.js', async: true, condition: function () {
                return !!document.body.classList;
            }
            }
            // { src: 'plugin/leap/leap.js', async: true }
            // { src: 'plugin/search/search.js', async: true, condition: function() { return !!document.body.classList; } }
            // { src: 'plugin/remotes/remotes.js', async: true, condition: function() { return !!document.body.classList; } }
        ]
    });
</script>
</body>
</html>
